// Place all the styles related to the WorkOrders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
    margin: 0px;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.body {
    margin-top: 20px;
}

.header-text {
    padding-top: 10px;
    font-size:36px;
    text-align: center;
    font-weight: bolder;

}

.name-text {
    align-self: center;
    text-align: center;
}
.schedule {
    display: grid;
    grid-template-areas: "empty   techs"
                         "time  appointments";
    grid-template-columns: 150px;
    grid-template-rows: 60px;
    width: 95vw;
    height: 95vh;
    margin: 0 auto;   
}

.empty {
    display: grid;
    grid-area: empty;
}

.techs {
    grid-area: techs;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-transform: uppercase;
    font-size: 14px;
    background-color: #c5c5c5;
    border-bottom: 1px solid #474747;
    border-left: 1px solid #474747;
    border-top: 1px solid #474747;
}

.time {
    grid-area: time;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    font-size: 18;
    background-color: #e0e0e0;
    border-left: 1px solid #474747;
}

.time > div {
    display: grid;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #474747;
}

.appointments {
    grid-area: appointments;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(4, 1fr);
    border-right: 1px solid #474747;
    grid-auto-flow: column;
}

.appointments > div {
    border-left: 1px solid #474747;
    border-bottom: 1px solid #474747;

}
        
.appointments > div:nth-child(even) {
        background-color: #e0e0e0;
}
